---
slug: "drivers"
permalink: "/ru/drivers/index.html"
eleventyComputed:
  title: "{{ t.driversPage.title }} | Morrison Premium Transfer"
  description: "{{ t.driversPage.lead }}"
breadcrumbs:
  - { name: "Главная", path: "/ru/" }
  - { name: "Водителям", path: "/ru/drivers/" }
---
{% include "partials/drivers-body.njk" %}
