---
slug: "events"
permalink: "/ru/events/index.html"
eleventyComputed:
  title: "{{ t.eventsPage.title }} | Morrison Premium Transfer"
  description: "{{ t.eventsPage.lead }}"
breadcrumbs:
  - { name: "Главная", path: "/ru/" }
  - { name: "Группы и события", path: "/ru/events/" }
---
{% include "partials/events-body.njk" %}
