---
slug: "hourly"
permalink: "/ru/hourly/index.html"
eleventyComputed:
  title: "{{ t.hourlyPage.title }} | Morrison Premium Transfer"
  description: "{{ t.hourlyPage.lead }}"
breadcrumbs:
  - { name: "Главная", path: "/ru/" }
  - { name: "Почасовой", path: "/ru/hourly/" }
---
{% include "partials/hourly-body.njk" %}
